.one {
    background-color: pink;
    color: black;
    font-size: 18px;
}

#two {
    color: blue;
    font-size: 32px;
    font-weight: 600;
}

.one.cooler {
    font-size: 24px;
}

#four {
    background-color: lightgreen;
    color: black;
    font-size: 22px;
    font-weight: 600;
}

