.btn_first,
.btn_second {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

.btn_first {
    background-color: black;
    color: white;
}

.btn_second {
    background-color: yellow;
}